[mysqld]
character-set-server=utf8mb4

# 一般クエリログ
general_log=1
general_log_file=/var/lib/mysql/general-query.log

# エラーログ
# log-error=/var/lib/mysql/error.log

# スロークエリログ
slow_query_log=1
slow_query_log_file=/var/lib/mysql/slow-query.log
long_query_time=1

[client]
default-character-set=utf8mb4
